<h1><%= @empresa.nome %></h1>

<p>Outras informações: <%= @empresa.outras_informacoes %></p>

<%= link_to 'Editar', edit_admin_empresa_path(@empresa) %> |
<%= link_to 'Voltar', admin_empresas_path %>
